.meny{
    width: 490px;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    color: aqua;
    margin-left: 60%
}

.meny2:hover{
    color: orangered;
}
.MoGo{
    margin-left: 15%;
    color: aqua;
    font-size: 30px;
    font-family: roboto;
}
.we{
    margin-top: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: dancing script;
}
.amazing{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: 600;
}
.lyly{
    width: 60px;
    height: 3px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    
}
.lyly2{
    width: 60px;
    height: 3px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 30px;
    
}
.asd{
    display: flex;
    justify-content: center;
}
.bigbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.minibox{
    width: 330px;
    height: 69px;
    border: 1px;
}
.mainbox2{
    width: 330px;
    height: 69px;
    margin-top: 131px;
}
.p5{
    text-align: left;
    margin-left: 70px;
    color: darkgrey;
}
.img{
    margin-right: 120px;
    margin-bottom: -20px;
}
.p4p{
    margin-bottom: -15px;
    margin-left: 70px
}
.we2{
     margin-top: 90px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family:Dancing Script ;
}
.text{
    display: flex;
    justify-content: center;
}
.text3{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.box{
    width: 383px;
    height: 473px;
    background-image: url(/img/Layer%2019@1X.png);
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}
.rty{
    width: 383px;
    height: 473px;
    background-image: url(/img/Layer%2016@1X.png);
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}
.tyu{
    width: 383px;
    height: 473px;
    background-image: url(/img/Layer%2018@1X.png);
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
}

}
.box:hover{
    box-shadow: 10px 10px 0px 0px aqua;
}
.box2{
    width: 383px;
    height: 473px;
    background-image: linear-gradient(red,  yellow);
    opacity: 0.5;
    display: none;
}
.box:hover .box2{
    display: block;
}
.box21{
    width: 225px;
    height: 55px;
    background: #fce38a;
    position: relative;
    bottom: 250px;
    left: 70px;
    display: none;
}
.box:hover .box21{
    display: block;
}
.mini{
    width: 25%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pol{
    border-right: none;
}
.mini:hover{
    background-color: aqua;
}
.finisch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lol{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.qw{
    margin-left: 440px
}
.zx{
    margin-right: 440px;
}
.siri{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px; 
}
.rak{
    font-size: 15pxpx;
    color: darkgray;
}
.fff{
    margin-left: -30px 
}
.rrr{
    margin-left: 443px;
}
.vvv{
    margin-right: 475px;
}
.pop{
    width: 1280px;
    height: 3px;
    background-color: darkgray;
    margin-top: 40px;
}
.bvbv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sss{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 300px
}







