.wrapper{
    width: 1000px; 
    margin: auto;
}
.header{
    width: 100%;
    float: left;
}
.navigation ul{
    text-align: center;
}
.navigation li{
    display: inline-block;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigation a{
   text-decoration: none ;
   color: gray;
    
}
.navigation a:hover{
    color: aqua;
}
.main{
    width: 100%;
    float: left;
}
.box{
    border: 1px solid white;
    float: left;
    width: 420px;
}
.text{
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
}
.box2{
    border: 1px solid white;
    float: right;
    width: 420px;
}
.text2{
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
}
.footer{
    width: 100%;
    float: left;
}    
.btn{
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid gray;
    display: inline-block;
    margin-left: 435px;
    color: gray;
}
.btn:hover{
   color: white;
     border: 2px solid white;
    background: aqua;
   }
.bigbox{
    margin-bottom: 20px;
    
}
.box{
    margin-bottom: 60px;
}
.box2{
    margin-bottom: 60px;
}
.box3{
     border: 1px solid white;
    float: left;
    width: 420px;
    margin-bottom: 56px;
}